.button {
    -fx-text-fill: #ffffff; /* Colore del testo del bottone */
    -fx-background-color: #ff0000; /* Colore di sfondo del bottone */
}

.button:hover {
    -fx-background-color: #ff4d4d; /* Colore di sfondo del bottone quando il mouse passa sopra */
}

.button:pressed {
    -fx-background-color: #b30000; /* Colore di sfondo del bottone quando viene premuto */
}