.list-view .scroll-bar {
    -fx-opacity: 0;
}

.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}