.toggle-button-container {
    -fx-cursor: hand;
    -fx-background-color: #D3D3D3;
}

.toggle-button-container:focused {
    -fx-focus-color: transparent;
}

.toggle-button-container.active {
    -fx-background-color: #2DCC70;
}

.toggle-button-container .toggle-button-text {
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

.toggle-button-container .toggle-button-nob {
    -fx-pref-height: 34px;
    -fx-pref-width: 34px;
    -fx-background-radius: 100%;
    -fx-background-color: #F3F4F6;
    -fx-border-width: 0;
}


.toggle-button:selected {
    -fx-background-color: green;
}



